hud {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    pointer-events: none;
}

.heightCount {
    width: 100%;
    height: 100%;
    color: white;
    font-family: 'Comic Sans MS';
    font-size: 128px;
    text-stroke: 6px black;
    text-shadow: 4px 4px 10px black;
    text-align: center;
    justify-content: center;
    align-content: center;

    Label {
        border-radius: 50px;
        height: 100%;
        background-color: rgba(black, 0.5);
    }
}

.nameplate {
    position: absolute;
    text-align: center;
    justify-content: center;

    .avatar {
        border-radius: 50%;
        top: 16px;
        width: 48px;
        aspect-ratio: 1;
        background-size: 100%;
        border: 2px black;
    }

    .name {
        padding-left: 10px;
        font-family: 'Comic Sans MS';
        color: white;
        font-size: 48px;
        text-stroke: 4px black;
        text-shadow: 4px 4px 5px black;
    }
}

ExperienceBar {
    position: absolute;
    background-color: red;
    top: 30px;
    height: 30px;
    width: 70%;
    border-radius: 50px;

    .bar {
        background-color: red;
        background-position: left;
        background-size: 100px 100%;
        border-radius: 50px 0px 0px 50px;
        width: 10%;
        height: 100%;
        z-index: 4;
    }
}

StarParticle {
    position: absolute;
    background-image: url(ui/star_particle.png);
    background-size: 100%;
    background-repeat: no-repeat;
    opacity: 1;
    height: 40px;
    aspect-ratio: 1;
    z-index: 6;
}

MuteButton {
    position: absolute;
    right: 15px;
    top: 15px;
    height: 8%;
    aspect-ratio: 1;
    pointer-events: all;
   // cursor: pointer; 
    background-size: contain;
}